<h1> Import a Csv file </h1>

<%= form_with model: @csv_file do |form| %>
  <div>
    <%= form.label :file %><br>
    <%= form.file_field :file %>
  </div>

  <div>
    <p> Add your headers (if they equal the name on your file, leave blank) </p>
   <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
   </div>

   <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
   </div>

   <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
   </div>

    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :date_of_birth %>
      <%= form.text_field :date_of_birth %>
    </div>

    <div>
      <%= form.label :credit_card %>
      <%= form.text_field :credit_card %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>