<h1> Import a CSV File </h1>

<%= form_with model: @csv_file do |form| %>
  <div class="p-5 border border-primary rounded d-flex justify-content-center mb-3">
  <div class="mb-3">
    <div class="mb-3">
      <%= form.label :file, class: "form-label" %><br>
      <%= form.file_field :file %>
    </div>
    <p class="small">
      Add your headers (if they equal the name on your file, leave blank)
    </small>
   <div class="mb-3">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
   </div>

   <div class="mb-3">
    <%= form.label :address %><br>
    <%= form.text_field :address %>
   </div>

   <div class="mb-3">
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
   </div class="mb-3">

    <div class="mb-3">
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>

    <div class="mb-3">
      <%= form.label :date_of_birth %><br>
      <%= form.text_field :date_of_birth %>
    </div>

    <div class="mb-3">
      <%= form.label :credit_card %><br>
      <%= form.text_field :credit_card %>
    </div class="mb-3">
    <div>
      <%= form.submit %>
    </div>
  </div>
  </div>
<% end %>